{{define "title"}} Error {{end}}


{{define "form"}}
<main>
<div id="webError">
<pre><h1><code>&#128683;</code>{{.CodeStatus.Code}}<code>&#128683;</code></h1>
<a href="/" style="display:flex;justify-content:center;"><button style="background-color:#fff;">Go Home</button></a>
</pre>
</div>
</main>
{{end}}