{{define "title"}}Home{{end}}


{{define "main"}}
{{$Disconnected := .Disconnected}}
<div id="bar-filter">
    {{ if .Disconnected }}
    <form action="/logout" method="GET">
        {{ else }}
        <form action="/" method="GET">
            {{end}}
            <div class="checkFilter">
                <label for="fliked">
                    <input type="checkbox" name="filterCheck" value="Liked-Post" id="fliked">
                    <span>My Liked Posts</span>
                </label>
                <label for="fposted">
                    <input type="checkbox" name="filterCheck" value="Created-Post" id="fposted">
                    <span>My Created Posts</span>
                </label>
            </div>
            <div class="checkCategory">
                {{ range .Categores }}
                <label for="{{ .Name }}">
                    <input type="checkbox" name="filterCategoryCheck" id="{{ .Name }}" value="{{ .Name }}">
                    <span>{{ .Name }}</span>
                </label>
                {{ end }}
            </div>
            <input type="submit" name="filter" value="valid">
        </form>
</div>

<div id="list-post">
    {{ range .PostsInfo }}
    <div class="post" id="{{ .Post_id }}">
        <div class="p">
            <div class="hinfo">
                <p>Publié par : <span>{{ .Username }}</span></p>
                <p>Date Heure UTC : <span>{{ .Creation_Date }}</span></p>
            </div>
            <div class="hcontent">
                <ul>
                    {{ range .Categories }}
                    <li> {{.}} </li>
                    {{ end }}
                </ul>
                <p style:="overflow-wrap:break-word;">
                    {{ .Content }}
                </p>
            </div>
            {{ if $Disconnected }}
            <form action="\logout" method="get">
                {{ else }}
                <form action="\" method="post">
                    {{end}}
                    <div style="display: none;">
                        <input type="text" name="postId" value="{{.Post_id}}">
                    </div>
                    <div class="haction">
                        <div class="like">
                            <button name="like" value="{{.LikeActualUser}}" type="submit">
                                {{if eq .Active 1}}
                                <span><i class="fa-regular fa-thumbs-up" style="color:green;"></i></span>
                                {{else}}
                                <span><i class="fa-regular fa-thumbs-up"></i></span>
                                {{end}}
                            </button>
                            <span> {{.Like_Number}} </span>
                        </div>
                        <div class="dislike">
                            <button name="dislike" value="{{.DislikeActualUser}}" type="submit">
                                {{if eq .Active 2}}
                                <span><i class="fa-regular fa-thumbs-down" style="color:red;"></i></span>
                                {{else}}
                                <span><i class="fa-regular fa-thumbs-down"></i></span>
                                {{end}}

                            </button>
                            <span> {{.Dislike_Number}} </span>
                        </div>
                        <div class="comment">
                            <a href="/comment?{{ .Post_id }}">
                                <span><i class="fa-regular fa-comments"></i></span>
                            </a>
                            <span>{{ .Comment_Number}} </span>
                        </div>
                    </div>
                </form>
        </div>
        {{ if ne .ImageName ""}}
        <div class="p-img">
            <img src="/static/uploads/{{ .ImageName }}" alt="image de post">
        </div>
        {{end}}
    </div>
    {{ end }}

    {{ if .BadRequestForm }}
    <h5 class="Error">Désolé, nous n'avons trouvé aucun post repondant a ce(s) critère(s)</h5>
    {{ end }}
</div>
{{end}}


{{ define "section" }}
<div>
    <h2>About Us <code>&#9940;</code></h2>
    <p>
        Les gars, les gars... <code>&#128683;</code> <code>&#128683;</code> <code>&#9888;</code> <br />
        Tout fail a ce forum sera condamné sous peine de mort.
        En cas de fail, Vous avez le droit de garder le silence.
        Tout ce que vous direz pourra être retenu contre vous devant un tribunal.
        Vous avez le droit à un avocat. Si vous n'avez pas les moyens de
        vous en offrir un, un avocat vous sera désigné d'office.
    </p>
</div>

<div id="messageBtn">
    <button class="inbox-btn">
        <svg viewBox="0 0 512 512" height="16" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z">
            </path>
        </svg>
        <span class="msg-count">99</span>
    </button>

</div>

<div id="chatBox">
    <div class="container">
        <div class="nav-bar">
            <a>Chat</a>

            // Fais office de croix
            <div class="close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="messages-area">

            <div class="message one"></div>
            <div class="message two"></div>
            <div class="message three"></div>
            <div class="message four"></div>
            <div class="message five"></div>
            <div class="message six"></div>
        </div>
        <div class="sender-area" style="display: none;">
            <div class="input-place">
                <input placeholder="Send a message." class="send-input" type="text">
                <div class="send">
                    <svg class="send-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path fill="#6B6C7B"
                                    d="M481.508,210.336L68.414,38.926c-17.403-7.222-37.064-4.045-51.309,8.287C2.86,59.547-3.098,78.551,1.558,96.808 L38.327,241h180.026c8.284,0,15.001,6.716,15.001,15.001c0,8.284-6.716,15.001-15.001,15.001H38.327L1.558,415.193 c-4.656,18.258,1.301,37.262,15.547,49.595c14.274,12.357,33.937,15.495,51.31,8.287l413.094-171.409 C500.317,293.862,512,276.364,512,256.001C512,235.638,500.317,218.139,481.508,210.336z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>

<div>
    <h4>Copyrigths <code>&#169;</code></h4>
    <p>
        2024 Tous droits réservés <code>&#128512;</code> realisé avec du <code>&#128150;</code> et un peu de
        <code>&#9749;</code>
    </p>
</div>
{{ end }}


<!-- Pour le typing progress  -->

<div class="loading-wave">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>