{{define "header"}}
<div id="logo">
    <img src="/static/img/forum_logo.gif" alt="logo">
</div>
<div id="online">
    {{ if .Disconnected }}
    <h4>Bienvenue </h4>
    <p>Vous profitez mieux en etant connecté</p>
    {{ else }}
    <h4>{{ .UserInfo.Username }} </h4>
    <p>{{ .UserInfo.Email }} </p>
    <p><strong>Status </strong> <span class="connected">Connected</span></p>
    <p>{{ .UserInfo.LikeCounter }} Like(s) <i class="fa-regular fa-thumbs-up"></i></p>
    <p>{{ .UserInfo.CommentCounter }} Comment(s) <i class="fa-regular fa-comments"></i></p>
    {{end}}

</div>

<nav>
    <span>
        <a href="/create">Ajouter un post</a>
    </span>
    <span>
        <a href="/">Liste Postes</a>
    </span>
    <span id="logout">
        {{ if .Disconnected }}
        <a href="/login">Login</a>
        {{ else }}
        <a href="/logout">Logout</a>
        {{end}}
    </span>
</nav>
{{end}}