:root {
    --bg-header: #49484D;
    --bg-post: #e3cbb1;
    --bg-like: #5d4832;
    --bg-dislike: #851414;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: .95em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body #website {
    display: flex;
}

.Error {
    text-align: center;
    color: rgb(255, 136, 136);
    font-weight: normal;
    font-size: .7em;
    padding: 3px;
    margin: 0;
}

#website custom-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--bg-header);
    color: #fff;
    text-align: right;
    width: 200px;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#website custom-section>div {
    padding: 10px;
    text-align: center;
    box-shadow: 1px -1px 10px var(--bg-post);
}

#website custom-section div p {
    font-size: .9em;
}

#haut {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--bg-header);
    color: #fff;
    width: 220px;
    height: 100vh;
}

h1 {
    font-size: 1.2em;
}

#logo {
    width: 100%;
    margin: 0;
}

#logo img {
    width: 100%;
}

custom-header #online {
    width: 90%;
    margin: 8px auto;
    padding: 15px 10px;
    border-radius: 7px;
    color: var(--bg-header);
    text-align: left;
    transition: 500ms linear;

}

custom-header #online:hover {
    color: var(--bg-post);
    box-shadow: 1px -1px 10px var(--bg-post);

}

#haut #online p {
    padding: 3px;
    overflow-x: scroll;
}

#haut #online h4 {
    padding: 0;
    overflow-x: scroll;

}

#haut #online h4,
#haut #online p {
    margin: 2px;
    text-align: left;
}

#online strong {
    color: var(--bg-post);
}

#haut #online .connected {
    color: var(--bg-header);
    transition: linear 500ms;
    transition-delay: 500ms;
}

#haut #online:hover .connected {
    color: rgb(246, 246, 130)
}

#haut nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 10px;
}

#haut nav span {
    display: block;
    padding: 10px 15px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: var(--bg-post);
    width: 90%;
    text-align: center;
}

#haut nav>span a {
    color: var(--bg-header);
    text-decoration: none;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
}

#logout,
#login {
    background-color: #f5e8e2;
}




main {
    overflow-y: scroll;
    flex: 1;
    /* background: url("/static/img/mainbg.jpeg") fixed; */
    /* background-color: #000; */
    background: linear-gradient(40deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(227, 203, 177, 1) 30%,
            rgba(0, 0, 0, 1) 50%,
            rgba(227, 203, 177, 1) 90%,
            rgba(0, 0, 0, 1) 100%);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

custom-home {
    display: block;
    width: 100%;
    height: fit-content;
}

main #webError {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


main #webError pre {
    padding: 10px;
    width: fit-content;
    backdrop-filter: blur(2px);
    margin: auto;
    border: 3px solid #49484D;
    border-radius: 20px;
}

main #webError h1 {
    font-size: 10em;
    text-align: center;
    letter-spacing: 10px;
}

post-form {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    min-width: 650px;
}

post-form>main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#createMain {
    background: none;
}

#createMain #post-form {
    position: relative;
}

main #post-form {
    border: 3px solid var(--bg-header);
    width: 90%;
    max-width: 650px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--bg-post);
}

main #post-form .container {
    background-color: var(--bg-post);
}

main #post-form .checkCategory {
    width: fit-content;
    margin: 5px auto;
    background-color: var(--bg-post);
    padding: 15px;
}

.checkCategory input[type="checkbox"] {
    display: none;
}

.checkCategory span {
    padding: 5px 10px;
    border: 1px solid var(--bg-header);
}

.checkCategory input[type="checkbox"]:checked~span {
    background-color: var(--bg-header);
    color: #fff;
}

main #post-form #area-text {
    width: 95%;
    margin: 7px auto;
}

main #comeBack {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    background: none;
    color: var(--bg-header);
    transform: scale(2.3);
    cursor: pointer;
    transition: 400ms linear;
}

main #comeBack:hover {
    transform: rotate(45deg), scale(2.3);
}



#area-text textarea {
    resize: none;
    padding: 10px;
    border: none;
    box-shadow: 1px -1px 10px rgb(88, 88, 88);
    transition: 0.2s ease;
    width: 100%;
    height: 30vh;
    background-color: var(--bg-post);
}

#area-text textarea:focus {
    outline: none;
    border-left: 1px solid var(--bg-header);
}

input[type="submit"] {
    padding: 7px 12px;
    background-color: var(--bg-header);
    color: #fff;
    display: block;
    border: none;
}

#post-form input[type="submit"] {
    width: 95%;
    margin: 5px auto;
}

main #list-post {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}






main #list-post .post {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 10px;
    /* border-radius: 10px; */
    /* border: 3px solid var(--bg-header); */
    max-height: 230px;
    /* background-color: var(--bg-post); */
    background: rgba(255, 255, 255, 0.737);
    box-shadow: 0 8px 32px 0 rgba(20, 20, 20, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

@media screen and (max-width: 1250px) {
    main #list-post {
        grid-template-columns: 1fr;
    }

}

main #list-post .post-comment {
    display: block;
    flex-direction: column;
    max-height: none;
}

main #list-post .post .p {
    min-width: 49%;
    /* max-width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main #list-post .post-comment .p {
    display: block;
    max-width: none;
    height: 100%;
}

main #list-post .post .p-img {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 5px;
    min-width: 20%;
    background: none;
}

main #list-post .post-comment .p-img {
    display: block;

}

main #list-post .post .p-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    box-shadow: 1px -1px 10px #49484D;
}

main #list-post .Error {
    background-color: #fff;
}

.post .p .hinfo p,
.c .cinfo p {
    font-weight: bold;
    padding: 1px;
    margin: 0;
    font-size: .8em;
}

.post .p .hinfo p span,
.c .cinfo span {
    font-weight: normal;
    color: var(--bg-header);
}

.post .p .hcontent ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 7px 0;
}

.post .p .hcontent ul li {
    margin: 3px;
    padding: 5px 10px;
    color: var(--bg-header);
    border: 1px solid var(--bg-header);
    user-select: none;
    font-size: .9em;
}

.post-comment .hcontent p {
    border-bottom: none;
}

.post .p .hcontent p {
    padding: 5px;
    max-height: 50px;
    overflow-y: scroll;
    border-bottom: 1px solid var(--bg-header);
}

.post .p .haction,
.c .caction {
    display: flex;
}

.c .caction {
    border-top: 1px #343541 solid;

}

.post .p .like,
.post .p .dislike,
.post .p .comment a,
.c .like,
.c .dislike {
    margin: 5px;
}

custom-comment-form #comments .c {
    background: rgba(255, 255, 255, 0.737);
    box-shadow: 0 8px 32px 0 rgba(20, 20, 20, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.post .p .comment a {
    display: inline-block;
    color: #000;
    padding-top: 5px;
}

.post .p .like span,
.post .p .dislike span,
.c .like span,
.c .dislike span {
    font-size: 1em;
}

.post .p .dislike span i,
.post .p .like span i,
.post .p .comment a span i,
.c .like span i,
.c .dislike span i {
    font-size: 1.5em;
}

button[name="like"][value="true"] span i {
    color: var(--bg-like)
}

button[name="dislike"][value="true"] span i {
    color: var(--bg-dislike)
}

main #bar-filter {
    padding: 5px;
    background-color: var(--bg-header);
    color: #fff;
}

#bar-filter form {
    max-width: 750px;
    margin: auto;
    border: 2px solid var(--bg-header);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#bar-filter form .checkCategory {
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
    border: 1px solid var(--bg-post);
}

#bar-filter .checkCategory input[type="checkbox"]:checked~span {
    background-color: var(--bg-post);
    color: var(--bg-header);
}

#bar-filter input[type="submit"] {
    background-color: var(--bg-post);
    color: var(--bg-header);
}

/* Login style  */


#register-login-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/static/img/vector-JUL-2021-67.jpg");
    background-size: cover;
}

.form {
    --input-focus: #49484D;
    --font-color: beige;
    --font-color-sub: silver;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: var(--input-focus);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    width: fit-content;
}

.title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
}

.title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
}

.title span a {
    color: silver;
    text-decoration: underline;
}

.title em {
    cursor: pointer;
}

.input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--input-focus);
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
}

.button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--input-focus);
    cursor: pointer;
}

/* le style pour la page de commentaire  */
custom-comment {
    display: flex;
}

custom-detail {
    max-width: 60%;
}

custom-comment-form {
    width: 40%;
}

custom-comment #list-post {
    display: grid;
    padding: 7px;
    grid-template-columns: 1fr;
}


#form-comment {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#form-comment textarea {
    display: block;
    resize: none;
    font-size: .9em;
    padding: 7px 12px;
    border-radius: 10px 0 0 10px;
    min-width: 90%;
    border: none;
    background-color: #dec4a8bc;
    backdrop-filter: blur(3px);
}
#form-comment textarea:focus{
    outline: none;
}
button[type="submit"] {
    padding: 5px;
    border-radius: 50%;
    background: none;
    border: none;
}

#form-comment button {
    background-color: #dec4a8bc;
    backdrop-filter: blur(3px);
    border-radius: 0 50% 50% 0;
    display: block;
    margin-top: 1px;
    height: 30px;
    width: 30px;
}

#comments .c {
    margin: 7px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: #49484D solid 4px;
    border-left: #49484D solid 1px;
    border-top: #49484D solid 1px;
    border-right: #49484D solid 1px;
    background-color: var(--bg-post);
}

#comments .c .like button[value="true"] span i {
    color: var(--bg-like);
}

#comments .c .dislike button[value="true"] span i {
    color: var(--bg-dislike)
}

/* upload-img */

main #post-form .container {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    height: 260px;
    display: flex;
    justify-content: space-between;
}

.img-area {
    position: relative;
    width: 100%;
    background: var(--bg-header);
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area .icon {
    font-size: 100px;
}

.img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.img-area p {
    color: #999;
    padding: 5px;
}

.img-area p span {
    font-weight: 600;
}

.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}

.img-area.active:hover::before {
    opacity: 1;
}

main #post-form .select-image {
    display: block;
    width: 30px;
    height: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: var(--bg-header);
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.select-image:hover {
    background: gray;
}

/* 
Le style pour le chat box 
 */

custom-duplicata {
    transition: all 300ms linear;
}

custom-chat {
    margin-top: 30px;
}

#chatBox .container {
    background-color: #343541;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--bg-header);
}

#chatBox .container .nav-bar {
    width: 100%;
    height: 40px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chatBox .container .nav-bar a {
    color: #6B6C7B;
    white-space: nowrap;
    margin-left: 10px;
    user-select: none;
}

#chatBox .container .close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#chatBox .container .messages-area {
    background-color: var(--bg-post);
    width: 100%;
    overflow: scroll;
    max-height: 300px;
    transition: 500ms linear;
}

.chatMsg .container .messages-area {
    height: 270px;
}

#chatBox .list-user {
    margin: 0;
    padding: 5px 7px;
    border-bottom: 1px solid var(--bg-header);
    color: var(--bg-header);
    background-color: var(--bg-post);
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    transition: all 200ms linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatBox .list-user:hover {
    border-left: 3px solid var(--bg-header);
}

#chatBox .list-user span {
    display: block;
    width: 7px;
    height: 7px;
    background-color: green;
    border-radius: 7px;
}

#chatBox .list-user p {
    margin: 0;
}

#chatBox .list-user .o {
    width: 25px;
    background-color: orangered;
    transition: 500ms linear;
}

#chatBox .container .sender-area {
    background-color: #343541;
    width: 100%;
    padding: 10px;
    display: flex;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sender-area .message {
    width: 100%;
    height: 40px;
}

.message-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.r {
    align-items: flex-start;
    justify-content: flex-end;
}

.s {
    align-items: flex-end;
    justify-content: flex-end;
}

.message-content p {
    max-width: 80%;
    padding: 5px 3px;
    border-radius: 5px;
    font-style: italic;
    margin: 0;
    width: fit-content;
}

.r p {
    background-color: #828E9E;
}

.s p {
    background-color: var(--bg-header);
}

.message-content span {
    font-size: .5em;
}

.send-img {
    width: 30px;
}

.sender-area .send-input {
    outline: none;
    display: flex;
    border: none;
    background: none;
    height: 40px;
    width: 230px;
    border-radius: 7px;
    background: none;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}

.sender-area .send-input::placeholder {
    color: #828E9E;
}

.sender-area .input-place {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #40414F;
    border-radius: 7px;
    height: 40px;
    width: 280px;
    gap: 5px;
    border: 1px solid #2E2F3A;
    margin: auto;
}

.sender-area .send {
    width: 30px;
    height: 30px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sender-area .send-icon {
    width: 17px;
}

/* 
Le style pour le bouton de notif message
 */
#messageBtn {
    width: fit-content;
}

#messageBtn .inbox-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--bg-post);
    cursor: pointer;
    transition: all 0.3s;
}

#messageBtn .inbox-btn svg path {
    fill: var(--bg-header);
}

#messageBtn .inbox-btn svg {
    height: 17px;
    transition: all 0.3s;
}

#messageBtn .msg-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 0.7em;
    color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageBtn .inbox-btn:hover {
    transform: scale(1.1);
}


/* Style du loading du typing progress */

.loading-wave {
    width: 100px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 6px;
    height: 3px;
    margin: 0 2px;
    background-color: #3498db;
    border-radius: 2px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 3px;
    }

    50% {
        height: 16px;
    }

    100% {
        height: 3px;
    }
}



@media screen and (max-width: 600px) {
    #haut {
        width: 150px;
    }

    #website custom-section {
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    #haut {
        width: 100px;
    }

    #website custom-section {
        display: none;
    }
}